.todo-list {
  .title {
    background-color: #2196F3;
    color: white;
    padding: 10px;
  }

  .list-group-item .show-mode {
    display: flex;
    justify-content: space-between;



    span {
      line-height: 38px;
    }

    button {
      height: 38px;
    }
  }

  .msg-empty {
    padding: 10px;
    color: red;
  }
}